html {
 box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body{
  background-color: white;
  font-family: 'Jaldi', sans-serif;
  color: #717171;
}

header{
  padding: 80px 5px 80px 5px;
  text-align: left;
  width: 70%;
  display: inline-block;
  float: left;
}

header img{
  height: 90px;
}

button{
  width: 10%;
  display: inline-block;
  background-color: white;
  border: 1px solid #dddddd;
  padding: 10px;
  font-family: 'Jaldi', sans-serif;
  color: #717171;
  font-size: 20px;
  float: right;
  margin: 50px 50px 0px 0px;
}

a{
  text-decoration: none;
  font-family: 'Jaldi', sans-serif;
  color: #717171;
  font-size: 20px;
}

.top img{
  max-width: 100%;
  height: auto;
}

.center{
  display: block;
  width: 100%;
  padding: 100px;
  height: 600px;
}

.short{
  height: 450px;
}

.center p{
  font-size: 22px;
  width: 60%;
  text-align: center;
  margin: auto;
  border: 1px solid #dddddd;
  padding: 70px 80px;
  line-height: 1.5em;
}

.yellow img{
  width: 100%;
  height: auto;
}


.building img{
  max-width: 100%;
  height: auto;
}

.info{
  height: 600px;
  padding: 40px;
}

div #pics{
  width: 30%;
  float: left;
  display: inline-block;
  padding: 30px;
}

.logo img{
  width: 200px;
  height:auto;
  border: 20px;
}

.icons img{
  width: 50px;
  margin: 30px;
}

div .map{
  width: 70%;
  float: left;
  display: inline-block;
  padding: 40px;
}

.abstract img{
  max-width: 100%;
  height: auto;
}


.footer{
  display: block;
  height: 150px;
  background-color: #dddddd;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  margin: auto;
}






